<div class="nav" id="navbar">
      <nav class="nav__container">
        <div>
          <a href="/" class="nav__link nav__logo">
            <i class="bx bx-book-open nav__icon"></i>
            <span class="nav__logo-name">
              <span class="logo_inno">inno</span>Book
            </span>
          </a>

          <div class="nav__list">
            <div class="nav__items">
              <h3 class="nav__subtitle">Discover</h3>

              <a href="/" class="nav__link active">
                <i class="bx bx-home nav__icon"></i>
                <span class="nav__name">Home</span>
              </a>

              <a href="#" class="nav__link">
                <i class="bx bx-heart nav__icon"></i>
                <span class="nav__name">For you</span>
              </a>

            </div>

            <div class="nav__items">
              <h3 class="nav__subtitle">Library</h3>

              <a href="/" class="nav__link">
                <i class="bx bx-book-alt nav__icon"></i>
                <span class="nav__name">All books</span>
              </a>
              <a href="#" class="nav__link">
                <i class="bx bx-list-ul nav__icon"></i>
                <span class="nav__name">Top books</span>
              </a>
              <a href="{% url 'author_list' %}" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">Authors</span>
              </a>
              <a href="{% url 'add_books' %}" class="nav__link">
                <i class="bx bx-plus-circle nav__icon"></i>
                <span class="nav__name">Add books</span>
              </a>
            </div>
          </div>
        </div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="nav__link nav__logout">
          <i class="bx bx-log-out "></i>
          <span class="nav__name">Log Out</span>
        </a>
        {% else %}
        <a href="{% url 'login' %}" class="headergreen__user"><span class="nav__icon">@</span><span class="nav__name">Login</span></a>
        {% endif %}
      </nav>
    </div>