<section class="similar-books">
    <div class="container">
        <div class="similar-books__body">

            <div class="shows__title">
                <h3>Similar Books:</h3>
            </div>

            <div class="similar-books-slider swiper-container">
                <div class="similar-book-slider__wrapper swiper-wrapper">
                        {% for book in books %}
                        <div class="similar-books-slider__slide swiper-slide">
                            <div class="similar-books-slider__image">
                                <a href="#"><img class="slider__book" src="{{ book.poster.url }}" alt=""></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>

